.has-fade,
.hasFade {
    visibility: hidden;
}
  
@keyframes fade-in {
    from {
        visibility: hidden;
        opacity: 0;
    }
    1% {
        visibility: visible;
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 1;
    }
  }
  .fade-in {
        animation: fade-in 200ms ease-in-out forwards;
  }
  
@keyframes fade-out {
    from {
        visibility: visible;
        opacity: 1;
    }
    99% {
        visibility: visible;
        opacity: 0;
    }
    to {
        visibility: hidden;
        opacity: 0;
    }
  }
  .fade-out {
      animation: fade-out 200ms ease-in-out forwards;
}

@keyframes fadeOut {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(3.75rem);
    }
}

.fadeOut {
    animation: fadeOut 1.6s ease;
}