* {
    box-sizing: border-box;
    &::before, &::after {
        box-sizing: border-box;
    }
}

.faq{
    background-color: $lightGrayishBlue;
    &-container{
        width: 75%;
        color: $darkGray;    
        padding-top: 4rem;
    }
}

.accordion {
    &-item {
        border-bottom: 1px solid $lightGray;
        a[aria-expanded='true'] {
            border-bottom: 1px solid $darkBlue;
        }
    }

    a{
        position: relative;
        display: block;
        text-align: left;
        width: 100%;
        padding: 1em 0;
        font-size: 1.15rem;
        font-weight: 400;
        color: $darkGray;
        border: none;
        background: none;
        outline: none;
        
        &:hover, &:focus {
            cursor: pointer;
            color: $darkBlue;
            &::after {
            cursor: pointer;
            color: $darkBlue;
            border: 1px solid $darkBlue;

            }
        }
        
        .accordion-title {
            padding: 1em 1.5em 1em 0;
        }
        
        .icon {
            display: inline-block;
            position: absolute;
            top: 18px;
            right: 0;
            width: 22px;
            height: 22px;
            border: 1px solid;
            border-radius: 22px;
            &::before {
            display: block;
            position: absolute;
            content: '';
            top: 9px;
            left: 5px;
            width: 10px;
            height: 2px;
            background: currentColor;
        }

            &::after {
                display: block;
                position: absolute;
                content: '';
                top: 5px;
                left: 9px;
                width: 2px;
                height: 10px;
                background: currentColor;
            }
        }
    }

    a[aria-expanded='true'] {
        color: $darkBlue;
        .icon {
            &::after {
            width: 0;
            }
        }
        + .accordion-content {
            opacity: 1;
            max-height: 20em;
            transition: all 200ms linear;
            will-change: opacity, max-height;

            @include breakpoint-up(medium){
                max-height: 10em;
            }
        }
    }
    .accordion-content {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: opacity 200ms linear, max-height 200ms linear;
        will-change: opacity, max-height;
        
    }
}

.inline-links{
    all: initial;
}