.footer{
    background-color: $darkBlue;
    color: $white;
    padding: 2.5rem;
    text-align: center;

    .container {

        @include breakpoint-up(medium){
          display: grid;
          grid-template-columns: 2fr 1fr 1fr 3fr;
          grid-template-rows: 1fr auto;
          grid-template-areas: 
            "logo links1 links2 cta"
            "social links1 links2 copyright";
          gap: 1rem;
          justify-items: start;
        }
      }
    
    a{
        color: $white;
    }

    &__logo{
        font-weight: 400;
        font-size: $font-lg;
        
        img,
        span{
            vertical-align: middle;
        }
        display: inline-block;
        border-bottom: 1px solid $grayishBlue;

        @include breakpoint-down(small){
            margin-bottom: 1.875rem;
        }

        @include breakpoint-up(medium){
            grid-area: logo;
        }

    }

    &__social{
        @include breakpoint-down(small){
            margin-bottom: 1.875rem;
        }

        @include breakpoint-up(medium){
            grid-area: social;
            align-self: end;
        }

        a{
            display: inline-block;
            height: 1.25rem;

            svg path {
                transition: fill 150ms ease-in-out;
            }

            &:hover svg path,
            &:focus svg path {
                fill: $grayishBlue;
            }
        }

        a:not(:last-child){
            margin-right: 1rem;
        }
    }

    &__links{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.9375rem;

        @include breakpoint-up(medium){
            justify-content: space-between;
            align-items: start;      
        }

        &.col1{

            @include breakpoint-up(medium){
                grid-area: links1;
            }

        }

        &.col2{
            @include breakpoint-down(small){
                margin-bottom: 1.875rem;
            }

            @include breakpoint-up(medium){
                grid-area: links2;
            }
        }

        a{
            line-height: 2.25;
            transition: color 150ms ease-in-out;
      
            &:hover,
            &:focus {
                color: $grayishBlue;
            }
        }
    }

    &__cta{
        line-height: 1.75;
        @include breakpoint-up(medium){
            grid-area: cta;
            text-align: right;
            justify-self: end;
        }
    }

    &__queries{
        a{
            
            transition: color 150ms ease-in-out;
      
            &:hover,
            &:focus {
                color: $grayishBlue;
            }
        }
        @include breakpoint-down(small){
            margin-bottom: 1.875rem; 
        }
    }

    &__copyright{
        font-size: 0.8125rem;
        color: $grayishBlue;

        @include breakpoint-up(medium){
            grid-area: copyright;
            align-self: end;
            justify-self: end;
        }
    }
}