.main{
    padding: 0 1.5rem 5rem;
    margin-top: -3.75rem;
    position: relative;
    display: grid;
    justify-content: center;
    grid-gap: 1.5rem;
    @include breakpoint-up(large) {
        margin-top: -6rem;
    }
}

.section {
    background-color: $white;
    border-radius: 0.5rem;
    border: 0.0625rem solid $grayishBlue;
    padding: 2rem 1.4375rem 2.4375rem;
    width: 100%;
    max-width: 45.625rem;
    box-shadow: 0px 3px 12px rgba(0,0,0,0.15);
        
    @include breakpoint-up(medium) {
        padding: 3rem;
    }
}

.donatetop{
    display: grid;
    justify-items: center;
    text-align: center;
    grid-gap: 1.5rem;
    position: relative;

    @include breakpoint-up(medium){
        grid-gap: 2.1875rem;
    }

    &__img{
        position: absolute;
        top: -1.75rem;
        background: $lightGray;
        border-radius: 50px;
        padding: 0.2rem;
    }

    &__text{
        display: grid;
        grid-gap: 1rem;
        padding-top: 1.25rem;

        h3{
            font-size: $font-med;
            font-weight: 500;
            margin: 0;
        }

        p{
            margin: 0;
        }
        @include breakpoint-up(medium){
            grid-gap: 0.75rem;
            padding-top: 0.5rem;
        }
    }
}

.donateform{
    display: grid;
    grid-gap: 2.125rem;

    @include breakpoint-up(medium){
        grid-gap: 2.5rem;
    }

    h2{
        margin-bottom: 1rem;
        font-size: 1.8rem;
    }
}

.form{

    &__content{
        margin-left: 1rem;    
        @include breakpoint-up(medium){
            margin-left: 3rem;
        }

        @include breakpoint-up(large){
            margin-left: 5rem;
        }
    }

    &__item{
        padding-bottom: 2rem;
    }

    &__inputtitle{
        background-color: $grayishBlue;
        color: $white;
        padding: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 50px;
        margin-bottom: -0.2rem;
        margin-left: -0.2rem;
    }

    &__itemlast{
        position: relative;
        margin-top: 1rem;
    }

    &__buttons{
        margin: 0;
        position: absolute;
        top: 50%;
        left: 40%;
        -ms-transform: translate(-40%, -40%);
        transform: translate(-50%, -50%);
    }
}


[type=text],
[type=email],
[type=url],
[type=number],
select,
textarea {
  display: block;
  padding: .5rem;
  background: transparent;
  width: 75%;
  max-width: 100%;
  border: 1px solid $grayishBlue;
  color: rgb(138, 136, 136);
  border-radius: 4px;
  font-size: .95rem;

  &:focus,
  &:hover{
    outline: none;
  }

}
.option{
    background-color: $lightGrayishBlue;
}

input[type=radio],
input[type=checkbox]{
    border: 1px solid $grayishBlue;
    border-radius: 2px ;
    padding: 0.5em;
    margin-top: 1.2rem;
    -webkit-appearance: none;

    &:checked{
        background: url(data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==) no-repeat center center;
        background-size: 9px 9px;
    }

    &:focus,
    &:hover,
    &:not(:checked){
        background: $lightGrayishBlue;
    }
}