html{
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Public Sans', sans-serif;
    font-size: $font-sm;
    font-weight: 300;
    color: $grayishBlue;
    line-height: 1.3;
    overflow-x: hidden;
    min-width: 300px;
}

a, 
a:visited,
a:hover{
    text-decoration: none;
}

//flexbox
.flex {
    display: flex;

    &-jc-sb{
        justify-content: space-between;
    }
    
    &-jc-c{
        justify-content: center;
    }

    &-ai-c{
        align-items: center;
    }
}

//Button
button, .button {
    position: relative;
    display: inline-block;
    padding: 0.875rem 2.1875rem;
    background-image: linear-gradient(to right, $limeGreen, $brightCyan);
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    color: $white;
    font-weight: 400;  
    font-size: $font-sm;  
    transition: opacity 300ms ease-in-out;
    overflow: hidden;
  
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.25);
      opacity: 0;
      transition: opacity 150ms ease-in-out;
    }
  
    &:hover::before,
    &:hover:focus {
      opacity: 1;
    }
  
  }

// Visibility
.hide-for-mobile {
    @include breakpoint-down(small){
      display: none;
    }
}
  
.hide-for-desktop {
    @include breakpoint-up(medium){
      display: none;
      
    }
}
  