.intro{
    background-color: $white;
    
    @include breakpoint-up(medium){

        background-position: center right;
        background-image: linear-gradient( to left, transparent, $white 75% ),
                      url('/img/desktop-background-top-2.jpg');        
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
    }

    .container {
        @include breakpoint-up(medium){    
            display: flex;
            align-items: center;
        }
    }

    &__text{
        text-align: center;
        padding-top: 3.57rem;
        padding-bottom: 3.57rem;
        
        @include breakpoint-up(medium){
            flex: 2;
            order: 1;
            text-align: left;
        }

    }

    &__wrapper{
        margin-bottom: 2.25rem;
        display: grid ;
        float: center;
        grid-template-columns: 1fr 1fr 1fr;
        
        &__inline_divs{
            h2{
                font-weight: 500;
                font-size: $font-lg;
                margin-bottom: 0.667rem;
            }

            span{
                font-weight: 500;
                font-size: $font-med;                
            }
        }

        &__inline_divs:not(:last-child){
            margin-right: 1rem;
        }
    }

    &__image{
        position: relative;
        background-image: linear-gradient( to bottom, transparent, $white 95% ),
                          url('/img/mobile-background-top.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center bottom;
        min-height: 22.5rem;

        @include breakpoint-up(small){
            min-height: 25rem;
            background-position: center 70%;
        }
      
        @include breakpoint-up(medium){
            flex: 3;
            order: 2;
            height: 20rem;
            background-image: none;
        }
    }
    
}



.donate{
 
    @include breakpoint-up(medium){
        background-position: center right;
        background-image: url("");
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        background-image: linear-gradient( to left, transparent, $white 75% ),
                          url('/img/desktop-background-top-donate-2.jpg');           
    }

    &__img{
        background-image: none;
        background-image: linear-gradient( to bottom, transparent, $white 95% ),
                      url('/img/mobile-background-top-donate.jpg');
    
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center bottom;
        
        @include breakpoint-up(small){
            min-height: 25rem;
            background-position: center 70%;
        }
          
        @include breakpoint-up(medium){
            flex: 3;
            order: 2;
            height: 20rem;
            background-image: none;
        }
    }

    &__text{
        padding-top: 3.57rem;
        padding-bottom: 3.57rem;
    }
}