.whyus{
    text-align: center;
    @include breakpoint-up(medium){
        width: 75%;
        margin-left: 5rem;
    }

    @include breakpoint-up(large){
        width: 75%;
        margin-left: 8rem;
    }
    &__top {
        margin-bottom: 3.75rem;
    
        @include breakpoint-up(medium){
            text-align: left;
        }
        @include breakpoint-up(large){
            width: 70%;      
        }

    }

    &__grid {
    
        @include breakpoint-up(medium){
            display: flex;
            flex-wrap: wrap;     
        }
    }

    &__item {
        padding: 0.9375rem;

        @include breakpoint-up(medium){
            flex: 0 0 33.33%;
        }

        @include breakpoint-up(large){
            flex: 0 0 25%;
        }
    }

    &__img{
        margin-bottom: 1.875rem;
        height: 5.625rem;
        width: 5rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        
        @include breakpoint-up(large){
            margin-bottom: 2.75rem;
        }
    }

    &__border{
        height: 4px;
        width: 4rem;
        padding: 1px;
        border-radius: 50px;
        -moz-border-radius: 50px;
        align-items: center;
        margin: 0 auto;
        background: linear-gradient(to right, $limeGreen, $brightCyan);
    }
}

.fundsfor{

    p{
        margin-bottom: 1rem;
    }

    
    &__item{
        @include breakpoint-up(medium){
            flex: 0 0 50%;
        }
    
        @include breakpoint-up(large){
            flex: 0 0 33.33%;
        }

        &:hover,
        &:focus {
            transform: scale(1.05);
            border-radius: 0.3125rem;
            overflow: hidden;
            margin-bottom: 0px;
            background-color: $white;
            box-shadow: 0px 3px 12px rgba(0,0,0,0.15);
            transition: all 150ms ease-in-out;

            
        }
    }  
}